.listUsers{width:100%;height:auto;
  padding: 2rem 1rem;
}
.acctions{display:flex;
  span{width:40px;height: 40px;
    background: #a4a4aa;
    border-radius: 50%;
    margin:0 1px;
    display:flex;align-items:center;
    justify-content:center;
  }
  img{width:20px;height:auto;
  }
}