<div class="contenedor">
<h3>Usuarios</h3>

    <div class="form mt-3">
      <div class="boxForm">
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" >
      </div>
      <div class="boxForm">
        <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" >
      </div>
      <div class="boxForm">
        <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" >
      </div>
      <div class="boxForm">
        <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" >
      </div>
    </div>
  </div>

  

